/* =======================================================
   FORZAR PRIORIDAD DE ESTILOS MOVILES
   ======================================================= */
@media screen and (max-width: 768px) {
  #hero .hero-text,
  #hero-sobre .hero-text,
  #hero-publicaciones .hero-text,
  #hero-talleres .hero-text,
  #hero-entrevistas .hero-text,
  #hero-contacto .hero-text {
    background: rgba(0, 0, 0, 0.55) !important;
    color: #fff !important;
    padding: 8px 12px !important;
    border-radius: 8px !important;
    max-width: 75% !important;
    margin-bottom: 8vh !important;
    font-size: 0.8rem !important;
    line-height: 1.2 !important;
    text-align: center !important;
  }

  #hero-talleres .hero-text,
  #hero-entrevistas .hero-text {
    margin-bottom: 9vh !important;
  }

  .hero-text h1 {
    font-size: 1.2rem !important;
    line-height: 1.2 !important;
  }

  .hero-text h2,
  .hero-text p {
    font-size: 0.78rem !important;
    line-height: 1.2 !important;
  }
}
